@media (max-width:480px){
    body{
        margin: 0%;
    }
    #mheader{
        background-color: #E8C3AE;
        font-family: 'PT Sans Caption', sans-serif;
        width: 100vw;
        height: 10vw;
        padding-top: 0.26vw;
        text-align: center;
    }
}
